body.clearly_highlighting_enabled ::-moz-selection {
  background: rgba(246, 238, 150, 0.99);
}

body.clearly_highlighting_enabled ::selection {
  background: rgba(246, 238, 150, 0.99);
}

em.clearly_highlight_element {
  font-style: inherit !important;
  font-weight: inherit !important;
}

.en-simplified-article em {
  font-style: unset !important;
}

body.clearly_highlighting_enabled em.clearly_highlight_element {
  background-color: #EAE260;
  transition: background-color 0.4s ease;
  color: black;
}

body.clearly_highlighting_enabled em.clearly_highlight_element.hovered {
  cursor: pointer;
  background-color: #F0F1F1;
  transition: background-color 0.4s ease;
  /* TODO: found out why border with negative margin make strange space */
  /* border: 1px solid #EDEDED; */
  /* margin: -1px; */
}

/* cursor -- cursor and hot-spot position; requires a default cursor, after the URL one */
html.clearly_highlighting_enabled { cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAXElEQVRYw2NgGAWjYBSMAhKAu7v7fxjGwfcG4gYsuAKIXWjmECTxhh9Pef+j408P+H+AHEH10MAiNuqAUQcMuAMGNhvSFQyo5aMOGHXAgOUCQtXxKBgFo2AUkAMAq+LHD/8ZDCgAAAAASUVORK5CYII=) 14 16, text; }

/* highlight tag */

